@import "color/index.less";

/* tiny => small => base => large => huge */

/*=== Font ===*/
@font-size-tiny: 12px;
@font-size-small: 14px;
@font-size-base: 16px;
@font-size-large: 18px;
@font-size-huge: 20px;
@text-color: #2c3e50;
@font-family-body: "Avenir", Helvetica, Arial, sans-serif;
@font-family-code: Consolas, Menlo, Courier, monospace;

/*===  Length  ===*/
@length-tiny: 5px;
@length-small: 10px;
@length-base: 15px;
@length-large: 20px;
@length-huge: 50px;

@offset-tiny: 3px;
@offset-small: 5px;
@offset-base: 10px;
@offset-large: 20px;
@offset-huge: 30px;

/*===  Border  ===*/
@border-color: #dedede;
@border-base: 1px solid @border-color;

@border-radius-small: 3px;
@border-radius-base: 5px;
@border-radius-large: 10px;
@border-radius-circle: 50%;

/*===  Shadow  ===*/
@shadow-color: #bbb;
@shadow-card: 0 1px 1px @shadow-color;
@shadow-base: 0 0 5px @shadow-color;
@shadow-large: 0 2px 10px lighten(@shadow-color, 0);
@shadow-huge: 0 3px 20px lighten(@shadow-color, @lighteness-base);

/*===  Lighten && Darken  ===*/
@lighteness-tiny: 5%;
@lighteness-small: 10%;
@lighteness-base: 15%;
@lighteness-large: 30%;
@lighteness-huge: 40%;

@darkeness-tiny: 5%;
@darkeness-small: 10%;
@darkeness-base: 15%;
@darkeness-large: 30%;
@darkeness-huge: 40%;

/*===  Avatar  ===*/
@avatar-width: 50px;
@avatar-height: @avatar-width;
@avatar-bg: lighten(@color-grey, @lighteness-large * 0.9);
@avatar-color: @color-white;

/*===  Switch  ===*/
@switch-width: 60px;
@switch-height: 30px;
@switch-color-on: @color-success;
@switch-color-off: @color-grey;
@switch-color-disabled: lighten(@switch-color-on, @lighteness-large);

/*===  Progress  ===*/
@progress-height: @length-small;
@progress-color: @color-primary;
@progress-color-full: @color-success;

/*===  Spin  ===*/
@spin-width-small: @length-large;
@spin-width-base: @length-huge;
@spin-width-large: @length-huge * 2;

/*===  Tooltip  ===*/
@tooltip-height: 16px;
@tooltip-color-dark: @color-white;
@tooltip-bg-dark: rgba(0, 0, 0, 0.8);
@tooltip-color-light: @text-color;
@tooltip-bg-light: @color-white;

/*===  ZIndex  ===*/
@zIndex-tooltip: 90000;
@zIndex-spin: 100000;
